/*
      * #047190 dark blue
      * #4daad5 light blue

      * #bd3921 dark red
      * #ee6969 light red
*/

body{

}

#wrapper{
  display: inline-block;
  background-color: #047190;
  padding: 1em;
  border-radius: 13px;


}
#content{
  display: none;
}



.header{
  background-color: #4daad5;
  padding: .3em;
  border-radius: 13px;
  margin-bottom: 0.7em;
}

.header h1{
  margin: 0;
  padding: 0;
}

#intro{
  background-color: #4daad5;
  padding: 0.1em 2em 1em 1em;
  border-radius: 13px;
  margin-bottom: 0.7em;
}

.box{
  background-color: #4daad5;
  padding: 0.1em 2em 1em 1em;
  border-radius: 13px;
  margin-bottom: 0.7em;
}

.snip{
  text-align: center;
}

pre{

  padding-right: 3em;
  background-color: #eee;
  border-radius: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: left;
}
